.errorPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.error-404 {
  font-family: "Montserrat";
  font-size: 288px;
  text-align: center;
  margin: 15px auto;
  font-weight: 700;
  color: #ff6060;
}
.error-Message {
  font-size: 36px;
  color: #ff6060;
  text-align: center;
}
.error-linkHome {
  font-weight: 400;
  font-size: 18px;
  align-items: center;
  color: #ff6060;
  margin: 30px auto;
}

@media only screen and (max-width: 731px) {
  .error-404 {
    font-size: 188px;
  }
}
@media only screen and (max-width: 430px) {
  .error-404 {
    font-size: 58px;
  }
}
