.slider {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 20px;
}
.next,
.previous {
  position: absolute;
  z-index: 999;
  color: #fff;
}
.next {
  right: 50px;
  top: 40%;
}
.previous {
  left: 50px;
  top: 40%;
}
.fa-chevron-right {
  font-size: 70px;
  cursor: pointer;
}
.fa-chevron-left {
  font-size: 70px;
  cursor: pointer;
}
.img-slider {
  height: 415px;
  object-fit: cover;
  border-radius: 25px;
  width: 100%;
  position: relative;
}
.pagination {
  position: absolute;
  bottom: 0;
  left: 50%;
  font-size: 18px;
  color: #fff;
}
@media only screen and (max-width: 700px) {
  .img-slider {
    height: 235px;
  }
  .fa-chevron-right,
  .fa-chevron-left {
    font-size: 30px;
  }
}
@media only screen and (max-width: 380px) {
  .img-slider {
    height: 50%;
  }

  .previous {
    left: 30px;
    top: 35%;
  }
  .next {
    right: 30px;
    top: 35%;
  }
}
@media only screen and (max-width: 260px) {
  .fa-chevron-right,
  .fa-chevron-left {
    font-size: 20px;
  }
}
